<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Biblioteca{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <h1>Sistema de Biblioteca Genius Lab</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <!-- Conteúdo principal -->
    <main>
        {% block content %}
        <!-- Conteúdo específico da página será injetado aqui -->
        {% endblock %}
    </main>

    <!-- Rodapé -->
    <footer>
        <p>&copy; 2024 Sistema de Biblioteca Genius Lab. Todos os direitos reservados.</p>
    </footer>

    <script src="{% static '../static/js/script.js' %}"></script>
</body>
</html>