{% extends "base.html" %}
{% block title %}Cadastro de Livro{% endblock %}
{% block content %}

<h2>Cadastro de Livro</h2>
<form action="{% url 'add_book' %}" method="post">
    {% csrf_token %}
    <label for="title">Título do Livro:</label>
    <input type="text" id="title" name="title" required>

    <label for="author">Autor:</label>
    <input type="text" id="author" name="author" required>

    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" required>

    <label for="publisher">Editora:</label>
    <input type="text" id="publisher" name="publisher" required>

    <label for="year">Ano de Publicação:</label>
    <input type="number" id="year" name="year" min="0" required>
    
    <label for="genre">Gênero:</label>
    <select id="genre" name="genre" required>
        <option value="Aventura">Aventura</option>
        <option value="Ficção">Ficção</option>
        <option value="Não-Ficção">Não-Ficção</option>
        <option value="Romance">Romance</option>
        <option value="Suspense">Suspense</option>
        <!-- outros gêneros -->
    </select>
    
    <label for="total_quantity">Quantidade Total:</label>
    <input type="number" id="total_quantity" name="total_quantity" min="0" required>

    <label for="available_quantity">Quantidade Disponível:</label>
    <input type="number" id="available_quantity" name="available_quantity" min="0" required>

    <label for="description">Descrição (Opcional):</label>
    <textarea id="description" name="description" rows="4"></textarea>
    
    <button type="submit">Cadastrar Livro</button>
</form>
{% endblock %}