{% extends 'base.html' %}

{% block title %}Lista de Usuários{% endblock %}

{% block content %}
<h1>Lista de Usuários</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome de Usuário</th>
            <th>Email</th>
            <th>Tipo de Usuário</th>
            <th>Endereço</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.get_user_type_display }}</td>
            <td>{{ user.adress }}</td>
            <td>{{ user.phone }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum usuário encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button onclick="history.back()" class="btn btn-danger">Voltar</button>

{% endblock %}